.feedback {
  text-align: center;
}

.btn {
  display: block;
  font-size: 2em;
  margin: auto;
  min-width: 15em;
}

.btn-play {
  background-color: forestgreen;
  margin-top: 10px;
}

.btn-ranking {
  background-color: lightgray;
  margin-top: 50px;
}

a {
  text-decoration: none;
}
